/* Begint met algemene stijling */
iframe {
  display: block;
  margin: 0 auto;
  margin-bottom: 5%;
  border: 2px solid rgb(255,255,255);
  height: 45%;
  width: 40%;
}



body, html {
  background-image: url(spacebg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  line-height: 1.8;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-right: 0;
}

body {
    background-color: rgb(0, 0, 0);
}

a {
  outline: 0;
}

a img {
  border: 0px;
  text-decoration: none;
}

/* De linkstijling */
#menu a:link, #menu a:visited {
  color: rgb(255, 255, 255);
  text-decoration-line: none;
}

#menu a:hover, #menu a:active {
  color: rgb(250, 0, 0);
  text-decoration: none;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Begin van specefieke stijling */

/* Stijling van het menu */

#menu {
  width: 100%;
  background-color: rgb(38, 7, 7);
  z-index: 2;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  display: block;
  text-align: center;
}

li {
  display: inline-block;
/*  float: left; */
}

li a {
  display:inline-block;
  min-width:140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li:hover ul a {
        background: rgba(38, 7, 7, 0.5);
        height: 40px;
        line-height: 40px;
}

li:hover ul a:hover {
    background: #000000;
   color: #fff;
}

li ul {
    display: none;
}

li ul li {
    display: block;
    float: none;
}

li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;;
}

ul li a:hover + .hidden, .hidden:hover {
    display: block;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.content {
  width: 100%;
/*  background-image: url(starsbg.jpg); */
}

.container {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2%;
  margin-top: 2%;

}

.container p, h1, h2 {
  text-align: center;
  color: #fff8f7;
  font-family: 'Gentium Book Basic', serif;
  overflow: hidden;
  letter-spacing: 2px;
  line-height: 250%;
}

/* Imagegallery: */
.imagegallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery {
    margin: 5%;
    margin-top: 12.5px;
    margin-bottom: 15px;
    border: 1px solid rgb(38,7,7);
    box-shadow: 0 4px 8px 0 rgba(255,0,0,0.5);
    transition: 0.3s;
    width: 20%;
    background-color: rgb(38,7,7)
}

.gallery:hover {
    box-shadow: 0 8px 16px 0 rgba(38,7,7,0.5);
}

.gallery:hover {
    border: 1px solid rgb(255,255,255);
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    text-align: center;
}

.gallery p {
  color: #fff8f7;
  font-family: 'Gentium Book Basic', serif;
  overflow: hidden;
}

.footer {
  width: 100%;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  background-color: rgb(38, 7, 7);
  color: rgb(255,255,255);
}

.footer p {
  text-align: center;
  color: #fff;
  font-family: 'Gentium Book Basic', serif;
  overflow: hidden;
  letter-spacing: 2px;
}

#legediv {
  width: 100%;
  height: 50.4px;
  margin: 0;
  padding: 0;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Responsive sectie: */

/* Responsive menu: */

/*De show menu knop wordt verborgen*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: rgb(38, 7, 7);
    text-align: center;
    padding: 10px 0;
    display: none;
}
/*De vorm van het menu is een checkbox, daarna komt de lijst er uit*/
input[type=checkbox]{
    display: none;
}
/*Als je op de ckeckbox klikt komt het menu er uit*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

@media screen and (max-width : 480px){

    .gallery {
      margin-top: 20%;
    margin-bottom: 20%;
    }



    ul {
        position: static;
        display: none;
    }

    li {
        margin-bottom: 1px;
    }

    ul li, nav li a {
        width: 100%;
    }

    /*De show menu link*/
    .show-menu {
        display:block;
    }

    /* De overige elementen worden responsive gemaakt */
    iframe {
      display: block;
      margin: 0 auto;
      margin-bottom: 5%;
      border: 2px solid rgb(255,255,255);
      height: 40%;
      width: 90%;
    }

    .articlecontainer {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 2%;
      margin-top: 2%;

    }

    .articlecontainer img {
      width: 90%;
      height: 60%;
      float: right;
    }



    .container {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 4%;
      margin-top: 2%;

    }

    .containerinfo {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 4%;
      margin-top: 2%;

    }

    .logo img  {
      width: 60%;
      height: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    #legediv {
      width: 100%;
      height: 0;
      margin: 0;
      padding: 0;
    }

    .gallery {
      width: 80%;
      margin: 20%;
    }


}

@media screen and (max-width : 1024px){

  .gallery {
    width: 50%;
    margin-top: 15%;
  margin-bottom: 15%;
  }

    ul {
        position: static;
        display: none;
    }

    li {
        margin-bottom: 1px;
    }

    ul li, nav li a {
        width: 100%;
    }

    /*De show menu link*/
    .show-menu {
        display:block;
    }

    /* De overige elementen worden responsive gemaakt */
    iframe {
      display: block;
      margin: 0 auto;
      margin-bottom: 5%;
      border: 2px solid rgb(255,255,255);
      height: 40%;
      width: 90%;
    }

    .articlecontainer {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 2%;
      margin-top: 2%;

    }

    .articlecontainer img {
      width: 90%;
      height: 60%;
      float: right;
    }



    .container {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 4%;
      margin-top: 2%;

    }

    .containerinfo {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 4%;
      margin-top: 2%;

    }

    .logo img  {
      width: 60%;
      height: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    #legediv {
      width: 100%;
      height: 0;
      margin: 0;
      padding: 0;
    }

    body, html {
      background-image: url(starsbg.jpg);
    }


    .containerflex {
      flex-direction: column;
    }

    .containerflex img {
      align-self: center;
      margin-right: 0px;
    }

    .flextext p {
      line-height: 150%;
    }



}
