/* Begint met algemene stijling */

body, html {
  width: 100%;
  height: 100%;
  line-height: 1.8;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-right: 0;
}

body {
    background-color: rgb(0, 0, 0);
}

a {
  outline: 0;
}

a img {
  border: 0px;
  text-decoration: none;
}

/* De linkstijling */

a:link, a:visited {
  color: rgb(173, 0, 0);
  text-decoration-line: none;
}

a:hover, a:active {
  color: rgb(255, 0, 0);
  text-decoration: none;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Begin van specefieke stijling */

/* Stijling van het menu */
nav {
  position: fixed;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  float: left;
  margin-right: 1px;
  z-index: 2;
}

li a {
  display:block;
  min-width:140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #2f3036;
  text-decoration: none;
  z-index: 2;
}

li:hover a {
    background: #19c589;
}

li:hover ul a {
        background: #f3f3f3;
        color: #2f3036;
        height: 40px;
        line-height: 40px;
}

li:hover ul a:hover {
    background: #19c589;
    color: #fff;
}

li ul {
    display: none;
}

li ul li {
    display: block;
    float: none;
}

li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

ul li a:hover + .hidden, .hidden:hover {
    display: block;
}

/* Responsive menu: */

/*De show menu knop wordt verborgen*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: rgb(38, 7, 7);
    text-align: center;
    padding: 10px 0;
    display: none;
}
/*De vorm van het menu is een checkbox, daarna komt de lijst er uit*/
input[type=checkbox]{
    display: none;
}
/*Als je op de ckeckbox klikt komt het menu er uit*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

@media only screen and (max-width : 760px){


    ul {
        position: static;
        display: none;
    }

    li {
        margin-bottom: 1px;
    }

    ul li, li a {
        width: 100%;
    }

    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.content {
  width: 100%;
  overflow: hidden;
}

.parallaxscroll {
  background-image: url('backgroundplanet.jpg');
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  size: cover;
}

.logo img  {
  min-width: 20%;
  width: 20%;
  min-height: 40%;
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* De Z-index is -1 zodat het menu er over heen gaat :) */
  z-index: 1;
}

.container {
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 2%;
  margin-top: 2%;

}

.container p, h1 {
  text-align: center;
  color: #fff8f7;
  font-family: 'Gentium Book Basic', serif;
  overflow: hidden;
  letter-spacing: 2px;
  line-height: 250%;
}

.footer {
  width: 100%;
  float: left;
  margin-top: 2%;
  margin-bottom: 0;
  padding-left: 0;
  background-color: rgb(38, 7, 7);
  color: rgb(255,255,255)
}

.footer p {
  text-align: center;
  color: #fff;
  font-family: 'Gentium Book Basic', serif;
  overflow: hidden;
  letter-spacing: 2px;
}
