.parallax {
    background-image: url("https://cdn.suwalls.com/wallpapers/space/red-nebula-hiding-behind-the-dark-planet-51162-1920x1080.jpg");

    height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.Mainbody {
  font-family: 'Merriweather', serif;
  background-color: #110b0a;
  text-align: center;
}

.Mainbody p {
  color: #fff8f7;
}

body{
  background-color: black;
}
