/* Begint met algemene stijling */

body, html {
  width: 100%;
  height: 100%;
  line-height: 1.8;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-right: 0;
}

body {
    background-color: rgb(0, 0, 0);
}

a {
  outline: 0;
}

a img {
  border: 0px;
  text-decoration: none;
}

/* De linkstijling */
#menu a:link, #menu a:visited {
  color: rgb(255, 255, 255);
  text-decoration-line: none;
}

#menu a:hover, #menu a:active {
  color: rgb(250, 0, 0);
  text-decoration: none;
}

.content a:link, .content a:visited {
  color: rgb(173, 0, 0);
  text-decoration-line: none;
}

.content a:hover, .content a:active {
  color: rgb(255, 0, 0);
  text-decoration: none;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Begin van specefieke stijling */

/* Stijling van het menu */

#menu {
  width: 100%;
  background-color: rgb(38, 7, 7);
  z-index: 2;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  display: block;
  text-align: center;
}

li {
  display: inline-block;
/*  float: left; */
}

li a {
  display:inline-block;
  min-width:140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li:hover ul a {
        background: rgba(38, 7, 7, 0.5);
        height: 40px;
        line-height: 40px;
}

li:hover ul a:hover {
    background: #000000;
   color: #fff;
}

li ul {
    display: none;
}

li ul li {
    display: block;
    float: none;
}

li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;;
}

ul li a:hover + .hidden, .hidden:hover {
    display: block;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.content {
  width: 100%;
}

.containerinfo {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2%;
  margin-top: 10%;
}

.containerinfo p, h1 {
  text-align: center;
  color: #fff8f7;
  font-family: 'Gentium Book Basic', serif;
  overflow: hidden;
  letter-spacing: 2px;
  line-height: 250%;
}

.parallaxscroll {
  background-image: url('backgroundplanet.jpg');
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  size: cover;
}

 .logo img  {
  width: 20%;
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2%;
  margin-top: 2%;

}

.container p, h1 {
  text-align: center;
  color: #fff8f7;
  font-family: 'Gentium Book Basic', serif;
  overflow: hidden;
  letter-spacing: 2px;
  line-height: 250%;
}

.footer {
  width: 100%;
  float: left;
  margin-top: 2%;
  margin-bottom: 0;
  padding-left: 0;
  background-color: rgb(38, 7, 7);
  color: rgb(255,255,255)
}

.footer p {
  text-align: center;
  color: #fff;
  font-family: 'Gentium Book Basic', serif;
  overflow: hidden;
  letter-spacing: 2px;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Responsive sectie: */

/* Responsive menu: */

/*De show menu knop wordt verborgen*/
 .show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: rgb(38, 7, 7);
    text-align: center;
    padding: 10px 0;
    display: none;
}
/*De vorm van het menu is een checkbox, daarna komt de lijst er uit*/
input[type=checkbox]{
    display: none;
}
/*Als je op de ckeckbox klikt komt het menu er uit*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

@media screen and (max-width : 480px){



    ul {
        position: static;
        display: none;
    }

    li {
        margin-bottom: 1px;
    }

    ul li, nav li a {
        width: 100%;
    }

    /*De show menu link*/
    .show-menu {
        display:block;
    }

    /* De overige elementen worden responsive gemaakt */
    .container {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 4%;
      margin-top: 2%;

    }

    .logo img  {
      width: 60%;
      height: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
    }



}
